  body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #659DBD;
    color: #fff;
     background-image: url("cars.jpg");
     background-repeat: no-repeat;
      background-size: cover;

}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 15px; /* Increased padding */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 22px; /* Increased font size */
    font-family: 'Montserrat', sans-serif;
    transition: box-shadow 0.3s ease;
}


button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    opacity:0.5;
    color: #97CAEF;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

image-container{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

button:hover {
    background-color: #7c7c7c2b;;
}

img {
    width: 200px;
    height: auto;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#s_email {
    border-radius: 50px;
    background: #fff;
    opacity:0.8;
    padding: 20px;
    width: 330px;
    height: 10px;
}

#s_password {
    border-radius: 50px;
    background: #fff;
    opacity:0.8;
    padding: 20px;
    width: 330px;
    height: 10px;
}




ul {
    list-style-type: none;
    padding: 0;
    display: none;
    margin-bottom: 30px;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
